// green
$primary-color: #86C232;
$primary-color-dark: #61892F;

// black
$secondary-color: #222629;
$secondary-color-light: #474B4F;
$secondary-color-lighter: #6B6E70;

$bright-yellow: #FAED26;
$dark-yellow: #F2B632;
$dark-blue: #252839;
$grey: #B5B5B7;
$white: #FFFFFF;